body {
    background-color: #f8f9fa;
}

.card {
    border: 1px solid #dee2e6;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-title {
    text-align: center;
}
.custom-navbar {
    background-color: #f8f9fa; 
    border-bottom: 1px solid #dee2e6; 
}

.custom-navbar .navbar-brand, .custom-navbar .nav-item .btn {
    color: #007bff;
}

.custom-navbar .navbar-brand:hover, .custom-navbar .nav-item .btn:hover {
    color: #0056b3;
}
