name: Build and Push fotobox_frontend

on:
  push:
    branches:
      - main
      - dockerize

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository_owner }}/fotobox_frontend:latest ./fotobox_frontend/Dockerfile

      - name: Push Docker image
        run: docker push ghcr.io/${{ github.repository_owner }}/fotobox_frontend:latest
