name: Build and Push fotobox_backend

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Add metadata to docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/jf-landkreis-karlsruhe/fotobox_backend

      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository_owner }}/fotobox_backend:latest ./fotobox_backend/Dockerfile
        
      - name: Tag Docker image with Git tag
        run: docker tag ghcr.io/${{ github.repository_owner }}/fotobox_backend:latest ghcr.io/${{ github.repository_owner }}/fotobox_backend:${{ github.ref_name }}

      - name: Push Docker image
        run: docker push ghcr.io/${{ github.repository_owner }}/fotobox_backend:${{ github.ref_name }}
